 <div
    class=" container bg-white py-2 d-flex justify-content-between align-items-center text-black position-sticky top-0">
    <div class="d-flex align-items-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
            fill="currentColor" class="bi me-2 bi-list"
            data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasBottom"
            aria-controls="offcanvasBottom"
            viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5" />
        </svg>
        <img
            src="https://mallmaverick.imgix.net/web/retailers/h-m/logo_aHR0cHNfX19tYWxsbWF2ZXJpY2suaW1naXgubmV0X3dlYl9wcm9wZXJ0eV9tYW5hZ2Vyc18xX3Byb3BlcnRpZXNfNzA4X2FsbF8yMDI0MDMyNjIyMDQ0Nl9obS0wMS5wbmc=?auto=format,compress"
            alt class="icon">
    </div>
    <div class="d-flex align-items-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23"
            fill="currentColor" class="bi bi-basket3"
            viewBox="0 0 16 16">
            <path
                d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15.5a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H.5a.5.5 0 0 1-.5-.5v-1A.5.5 0 0 1 .5 6h1.717L5.07 1.243a.5.5 0 0 1 .686-.172zM3.394 15l-1.48-6h-.97l1.525 6.426a.75.75 0 0 0 .729.574h9.606a.75.75 0 0 0 .73-.574L15.056 9h-.972l-1.479 6z" />
        </svg>
    </div>
</div>
<div class="offcanvas  offcanvas-bottom bg h-100" tabindex="-1"
    id="offcanvasBottom"
    aria-labelledby="offcanvasBottomLabel">
    <div class="offcanvas-body fixed-bottom px-0 py-0 pt-5 h-60 small">
        <div class="d-flex justify-content-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40"
                fill="currentColor"
                data-bs-dismiss="offcanvas"
                aria-label="Close"
                class="bi p-1 text-center rounded-circle mb-3 bg-white bi-x"
                viewBox="0 0 16 16">
                <path
                    d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708" />
            </svg>
        </div>

        <div class="bg-white body py-3  container">
            <img
                src="https://mallmaverick.imgix.net/web/retailers/h-m/logo_aHR0cHNfX19tYWxsbWF2ZXJpY2suaW1naXgubmV0X3dlYl9wcm9wZXJ0eV9tYW5hZ2Vyc18xX3Byb3BlcnRpZXNfNzA4X2FsbF8yMDI0MDMyNjIyMDQ0Nl9obS0wMS5wbmc=?auto=format,compress"
                alt class="icon">
            <hr class="my-2">
            <div
                class="d-flex  py-3 px-2 justify-content-between align-items-center">
                <p class="text-black mb-0">SHOP NOW</p>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                    fill="currentColor" class="bi bi-chevron-right"
                    viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708" />
                </svg>

            </div>
            <hr class="my-2">
            <div
                class="d-flex py-3 px-2 justify-content-between align-items-center">
                <div class="d-flex align-items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="19"
                        height="19"
                        fill="currentColor" class="bi me-2 bi-box-seam"
                        viewBox="0 0 16 16">
                        <path
                            d="M8.186 1.113a.5.5 0 0 0-.372 0L1.846 3.5l2.404.961L10.404 2zm3.564 1.426L5.596 5 8 5.961 14.154 3.5zm3.25 1.7-6.5 2.6v7.922l6.5-2.6V4.24zM7.5 14.762V6.838L1 4.239v7.923zM7.443.184a1.5 1.5 0 0 1 1.114 0l7.129 2.852A.5.5 0 0 1 16 3.5v8.662a1 1 0 0 1-.629.928l-7.185 2.874a.5.5 0 0 1-.372 0L.63 13.09a1 1 0 0 1-.63-.928V3.5a.5.5 0 0 1 .314-.464z" />
                    </svg>
                    <p class="text-black mb-0">MY ITEM </p>

                </div>

            </div>
            <div
                class="d-flex py-3 px-2 justify-content-between align-items-center">
                <div class="d-flex align-items-center">

                    <svg xmlns="http://www.w3.org/2000/svg" width="19"
                        height="19"
                        fill="currentColor" class="bi me-2 bi-heart"
                        viewBox="0 0 16 16">
                        <path
                            d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15" />
                    </svg>
                    <p class="text-black mb-0">LIST </p>
                </div>

            </div>
            <div
                class="d-flex py-3 px-2 justify-content-between align-items-center">
                <div class="d-flex align-items-center">

                    <svg xmlns="http://www.w3.org/2000/svg" width="20"
                        height="20" fill="currentColor"
                        class="bi me-2 bi-person"
                        viewBox="0 0 16 16">
                        <path
                            d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z" />
                    </svg>
                    <p class="text-black mb-0">ACCOUNT </p>
                </div>

            </div>
            <hr class="my-2 ">
            <div class="d-flex px-2 py-3">
                <div class="d-flex">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20"
                        height="20" fill="currentColor"
                        class="bi me-2 bi-question-circle" viewBox="0 0 16 16">
                        <path
                            d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                        <path
                            d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286m1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94" />
                    </svg>
                    <p class="text-black mb-0">HELP CENTER </p>

                </div>
            </div>
            <hr class="my-2 ">

        </div>
    </div>
</div>