.logo {
    width: 180px;
    border-radius: 5px;
}

.br {
    border-radius: 10px;
    color: rgb(155, 152, 152);

}

.span {
    font-size: 13px;
}

.z {
    z-index: 1;
}

.offcanvas {
    width: 90% !important;
}

.bg-s {
    background-color: gainsboro;
}

.logo-2 {
    width: 50px;
    border-radius: 5px;
}

.text-r {
    color: red;
}

#subOffcanvas {
    z-index: 1061;
    /* higher than default (1060) */
}
.bolder{
    font-weight: bolder;
    font-size: 15px;
}