.logo {
    width: 180px;
    border-radius: 5px;
}

.br {
    border-radius: 10px;
    color: rgb(155, 152, 152);

}

.bor {
    border-radius: 25px;
}

.bg-s {
    background-color: gainsboro;
}

.over {
    overflow: scroll;
}

::-webkit-scrollbar {
    width: 0px;
}

.pro {
    width: 80px;
}

.span {
    font-size: 13px;
}

.b-none {
    border: none;
}

.br::placeholder {
    color: rgb(155, 152, 152);
}

.bg-r {
    background-color: gainsboro;
}

.link {
    font-size: 15px;
    text-decoration: underline;
}

.line {
    text-decoration: underline;
}

.grid {
    display: grid;
    grid-template-columns: auto auto;

}

.pa {
    font-size: 19px;
}

hr {
    color: wheat !important;
}

.new {
    width: 99px;
}

.style {
    position: relative;
    top: 150px;
}

.border-r {
    border-radius: 0px !important;
}

.border-r::placeholder {
    font-size: 15px;
}

.contain-image {
    width: 300px;
    height: 400px;
    overflow: hidden;
}

.image {
    width: 300px;
    height: 400px;
}

.font {
    font-size: 17px;
    font-weight: 500;
}

.bold {
    font-weight: bold;
}

.big-mix {
    mix-blend-mode: multiply;

}

.bg-colour {
    background-color: rgba(237, 231, 225);
    height: 320px;
}

.image-new {
    height: 600px;
}

.heart {
    position: absolute;

    right: 17px;

}