span {
  font-size: 14px;
}
.heart-container {
  height: 0px;
}

.full-background {
  background-size: cover;
  height: 400px;
}
p {
  font-size: 15px;
}
.bold {
  font-weight: bold;
}
.br {
  border-radius: 0px;
  font-size: 14px;
}
.img {
  flex: 0 0 auto;
  scroll-snap-align: start;
  scroll-snap-stop: x always;
}
.over {
  display: flex;
  overflow-x: auto;
  scroll-snap-type:x proximity;
  -webkit-overflow-scrolling: touch;
}
.colour-img{
  width: 80px;
}