<app-navbar></app-navbar>
<hr class="mb-0">

<div class="contain po">
    <div id="carouselExampleCaptions" class="carousel mb-3 h-100 slide"
        data-bs-ride="carousel">
        <div class="carousel-indicators pos ">
            <button
                *ngFor="let image of product.itemImage; let i = index"
                type="button"
                [attr.data-bs-target]="'#carouselExampleCaptions'"
                [attr.data-bs-slide-to]="i"
                [class.active]="i === 0"
                [attr.aria-current]="i === 0 ? 'true' : null"
                [attr.aria-label]="'Slide ' + (i + 1)">
            </button>
        </div>

        <div class="carousel-inner h-100">
            <div *ngFor="let image of product.itemImage; let i = index"
                class="carousel-item container-img"
                [class.active]="i === 0">
                <img [src]="image" class="d-block img  h-100 w-100"
                    alt="Product Image {{i + 1}}">
                <div class="carousel-caption d-none d-md-block">
                    <h5>{{ product.title }}</h5>
                    <p>Image {{ i + 1 }} of {{ product.itemImage.length }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">

        <div class="row">
            <div class="col-6">
                <h6 class="bolder mb-3">{{product.title | uppercase}}</h6>
            </div>
            <div class="col-6 d-flex justify-content-end">
                <p class="text-black">{{product.price}}</p>
            </div>
        </div>
        <div class="d-flex mb-2 justify-content-between text-secondary">
            <div class="col-3">
                <p class=" mb-1 line">COLOUR</p>

            </div>
            <div class="col d-flex justify-content-end align-items-center">
                <p
                    class="mb-0 line">{{product.productDescriptionColorDescription}}</p>
            </div>

        </div>
        <div class="d-flex mb-2 justify-content-between text-secondary">
            <div class="col-6 ">
                <p class=" mb-1 line">SELECT SIZE</p>

            </div>
            <div class="col-6 d-flex justify-content-end align-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" class="me-2" width="28"
                    height="28"
                    viewBox="0 0 32 32"><path fill="currentColor"
                        d="M0 8v16h32V8zm2 2h3v7h2v-7h2v4h2v-4h2v7h2v-7h2v4h2v-4h2v7h2v-7h2v4h2v-4h3v12H2z" />
                </svg>
                <p class="mb-0 line">SIZE GUIDE</p>

            </div>

        </div>
        <div class="contai">
            <div class="row mb-3">
                <div class="col-3 " *ngFor="let size of product.sizes">

                    <div
                        class="w-100 mb-2 p-4 d-flex justify-content-center align-items-center border    text-black"
                        [ngClass]="{' bg-s' : size.stock === 0 }">
                        <p class="text-center mb-0">{{size.size}}</p>

                    </div>
                </div>

            </div>
        </div>
        <div class="d-flex  justify-content-between text-secondary"
            *ngFor="let colour of colourArray; let i = index">
            <div class="col-6 ">
                <p class=" mb-0 line bolder" *ngIf="i == 0">MORE COLOUR</p>

            </div>

        </div>
 
        <div class="d-flex over ">
            <div
                *ngFor="let colour of colourArray; let i = index">
                
                <div class="me-2 pb-2 my-2 mb-3"
                    *ngIf="colour.title === product.title && colour._id !== product._id ">
                    <div class="container-img">
                        <img [src]="colour.itemImage[0]"
                            alt
                            class="img colour">

                    </div>
                </div>
            </div>

        </div>
        <div class="d-flex pb-3">
            <button type="button" class="btn me-2 br w-100 btn-dark">
                ADD TO BAG
            </button>
            <button
                class="btn pt-2 br px-3 text-secondary border d-flex justify-content-center align-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"
                    fill="currentColor" class="bi bi-heart-fill"
                    viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314" />
                </svg>
            </button>
        </div>

    </div>

</div>