.bolder {
    font-size: 17px;
    font-weight: bold;
}

.bold {
    font-weight: bold;
    font-size: 15px;
}

.colour {
    width: 80px;
}

.over {
    overflow: scroll;
}

.line {
    font-size: 14px;


}
.con{
    width: 0px;
}



/* .po {
    position: relative;
} */

.bg-s {
    background-color: gainsboro;
}

.br {
    border-radius: 0px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
}

.pos {
    position: absolute;
    bottom: -8px;

}

.carousel-indicators [data-bs-target] {
    background-color: gray;
    /* default: inactive */
}

.carousel-indicators .active {
    background-color: black;
    /* active */
}
.container-img {
    background: rgb(233, 233, 233);

}

.img {
    mix-blend-mode: multiply;

}
.accordion-button::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='58px' height='58px' fill='currentColor' class='bi bi-plus' viewBox='0 0 16 16'%3E%3Cpath d='M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z'/%3E%3C/svg%3E");
    transition: all 0.5s;


}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='58' height='58' fill='currentColor' class='bi bi-dash' viewBox='0 0 16 16'%3E%3Cpath d='M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z'/%3E%3C/svg%3E");

}

.accordion-button::after {
    transition: all 0.5s;

}