.bg-dark {
  background-color: rgb(15, 15, 15) !important;
}
.bold {
  font-weight: bold;
}

.text-s {
  color: rgb(15, 15, 15) !important;
}
.bolder {
  font-size: 29px;
  margin-right: 5px;
}
.bg-s {
  background-color: #dddbcb;
  width: 190px;
}
.round {
  border-radius: 20px;
}
.bg-light {
  background-color: #e8e8e8 !important;
}
.car {
  width: 99px;
}
.border{
  border: 3px solid gainsboro !important;
}