.icon {
    width: 50px;
}

.img {
    background-image: url('https://i.postimg.cc/BbF3q68v/download-19.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 600px;
}
.link{
    text-decoration: underline;
}

.bg {
    background-color: rgb(0, 0,0,  0.2);
    height: 600px;

}

.bold {
    font-weight: bold;
}