<div class="vh-100">
  <div
    class="bg-secondary text-white border-bottom p-2 py-4 d-flex justify-content-between align-items-center"
  >
  <span class="text px-4 ps-2">SHOP</span>
    <!-- <svg
      xmlns="http://www.w3.org/2000/svg"
      width="25"
      height="25"
      fill="currentColor"
      class="bi me-3 bi-list"
      viewBox="0 0 16 16"
    >
      <path
        fill-rule="evenodd"
        d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"
      />
    </svg> -->
    <h5 class="text-s bold merriweather mb-0">MAKAZANA</h5>
    <div class="bg-dark  px-3">
      <span class="text-white text">BAG</span>
    </div>
  </div>
</div>
