<div class="bg-dark text-white">
  <div class="container py-2 d-flex align-items-center justify-content-between">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="36"
      height="36"
      fill="currentColor"
      class="bi text-black bg-white p-2 rounded-circle bi-list"
      viewBox="0 0 16 16"
    >
      <path
        fill-rule="evenodd"
        d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"
      />
    </svg>
    <span class="text bold">CHOOSE THE RATE</span>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="36"
      height="36"
      fill="currentColor"
      class="bi p-2 rounded-circle text-s bi-list"
      viewBox="0 0 16 16"
    >
      <path
        fill-rule="evenodd"
        d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"
      />
    </svg>
  </div>
  <div class="container pt-4">
    <p class="text-secondary font mb-2"><span class="bolder">A</span> FROM?</p>
    <p class="bolder">4 JOE MODISE ST <br> SAN FRANCISCO, SA</p>
  </div>
   <div class="container pt-4 text-end">
    <p class="text-secondary font mb-2">WHERE TO? <span class="bolder ms-1">B</span> </p>
    <p class="bolder pb-2">4 JOE MODISE ST <br> SAN FRANCISCO, SA</p>
  </div>
</div>
