.img {
    background-image: url('https://i.postimg.cc/BbF3q68v/download-19.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
}

.link {
    text-decoration: underline;
}

.over {
    overflow: scroll;
}

.over::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

.full-background {
    background-size: cover;
    width: 300px;
    height: 400px;
    flex: 0 0 auto;

}

.w-10 {
    height: 400px;
}

.h-0 {
    height: 0px !important;
    position: relative;
    top: -70px;

}

.h-20 {
    height: 0px !important;
    position: relative;
    top: -75px;
}
.span{
    font-size: 15px;
}
.bold {
    font-weight: bold;
}
.br{
    border-radius: 0px;
}
.text{
    font-size: 14px;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto;
}

.w-80 {
    width: 300px;
}

.h-10 {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 220px;
}