.bg-dark {
  background-color: rgb(15, 15, 15) !important;
}
.text-s {
  color: rgb(15, 15, 15) !important;
}
.bg-s {
  background-color: rgb(38, 38, 38) !important;
}
input::placeholder {
  color: rgb(119, 119, 119) !important;
  height: 20px;
  font-style: italic;
  font-size: 17px;
}
input:focus {
  box-shadow: none !important;
}
.flag {
  width: 20px;
}
.btn-bor {
  background-color: rgba(0, 0, 255, 0.1) !important;
  color: rgb(92, 92, 236) !important;
  border-radius: 50px !important;
}
.btn-s {
  border-radius: 50px !important;
}
.btn-close {
  color: white !important;
}
.flag-sm {
  width: 30px;
  height: 20px;
}
.name {
  width: 200px;
}
