<div class="container py-3">
    <img src="https://i.postimg.cc/Pf9GnZtt/download-4.jpg" class="logo mb-4" alt="">
    <h2 class="text-black">Welcome back</h2>
    <p class="text-secondary">We happy to see you shopping with us again. 
        Enter your email and password
    </p>
    <div class="form-floating mb-3">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Email address</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Password</label>
      </div>
      <button type="button" class="btn my-3 w-100 py-3  text-white bg bg-r text-center">Log in</button>
      <p class="text-black text-center  for">Forget password?</p>
      <div class="d-flex text-secondary align-items-center">
        <hr class="w-100">
        <p class="mx-3 mb-0">or</p>
        <hr class="w-100">
      </div>
      <button type="button" class="btn my-3 w-100 py-3 text-white bg bg-secondary text-center">Create an Account</button>
</div>

