<app-navbar></app-navbar>
<hr>
<div class="container d-flex justify-content-between mb-3">
    <p class=" mb-0 mt-2  font">HOME > WOMEN NEW ARRIVALS</p>
    <p class=" mb-0 mt-2  font line">FILTER</p>

</div>

<div class="container ">
    <div class="col mb-3" *ngFor="let product of productList" routerLink="/product/{{product._id}}">

        <img [src]="product.image" alt class="w-100 mb-2">
        <h6 class="text-black mb-2 bold">{{product.title}}</h6>

        <h6 class="text-black mb-1 bold">{{product.price}}</h6>
    </div>

</div>