<app-navbar></app-navbar>
<hr>
<div class="container d-flex justify-content-between mb-3">
    <p class=" mb-0 mt-2  font">HOME > WOMEN NEW ARRIVALS</p>
    <p class=" mb-0 mt-2  font line">FILTER</p>

</div>

<div class="container ">
    <div class="col mb-3">

        <img src="{{imageUrl}}" alt class="w-100 mb-2">
        <h6 class="text-black mb-2 bold">PUMA x ARIES Light Jacket Unisex
        </h6>

        <h6 class="text-black mb-1 bold">ZAR 350.00 </h6>

    </div>
    <div class="col mb-3">

        <img src="https://i.postimg.cc/2jvKF1jj/NIKE-AIR-MAX-95-OG.avif" alt
            class="w-100 mb-2">
        <h6 class="text-black mb-2 bold">NIKE AIR MAX DN8</h6>
        <h6 class="text-black mb-1 bold">ZAR 3650.00 </h6>

    </div>
</div>