.bolder {
    font-weight: bold;
}

.font {
    font-size: 15px;
}

.line {
    text-decoration: underline;
}

.container-img {
    background: rgb(233, 233, 233);

}

.img {
    mix-blend-mode: multiply;

}